.main-container {
    /* height: 100vh; */
    min-height: 100vh;
    margin-top: 0px;
    scroll-snap-type: y mandatory;
    &::-webkit-scrollbar {
        display: none;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.page-section {
    height: calc(100vh - 70px);
    width: 100vw;
    scroll-snap-align: start;
    padding-top: 20px;
    box-sizing: border-box;
    background-clip: padding-box;
    overflow: hidden;
    position: relative;
}

.wrapper {
    display: flex;
    height: 100%;             
    width: 100%;              
    overflow-x: auto;         
    scroll-snap-type: x mandatory; 
    gap: 0;
    justify-content: center;  
    padding: 20px;            
    box-sizing: border-box;   
}