<section class="page-section">
            <div class="content-overlay">
                <h2>Overview</h2>
                <p>
                    The <strong>Smart Vehicle Health Monitoring System Using OBD - II</strong> is an intelligent
                    platform designed to predict vehicle health issues before they lead to critical failures.
                    By Levaraging advanced <strong>Long Short Term Memory (LSTM)</strong> neural networks, this system
                    continously analyzes historical vehicle data obtained by
                    <strong>OBD - II (On-Board Diagnostic)</strong> Dataset from Kaggle. <br>Unlike traditional tools
                    that only detects faults after they occur, SVHM focuses on predictive maintenance,
                    Identifying early signs of degradation in vehicle performance.
                </p>
            </div>
            <div class="content-overlay">
                <p>
                <h2>What should you do?</h2>
                <li style="list-style: none;">Step 1: Select DataSet: Choose one of the three available datasets
                    provided on the platform.
                </li>
                <li style="list-style: none;">Step 2: Choose Analysis Mode: LSTM mode or Data Visualization Mode
                </li>
                <li style="list-style: none;">Step 3: Results:
                    For LSTM Model: It will show health score, error analysis graphs, anomalies detection and
                    health status.
                    For Data Visualization: It will help you create interactive graphs, illustrate trends and
                    correlation.
                </li>
                </p>
            </div>
        </section>